/StreamNode
/CdtFace.Common.SqlSugar
StreamCenter.sln.DotSettings.user
/SRSApis/bin
/SRSApis/obj
/Test_SRSApis/bin
/Test_SRSApis/obj
/StreamCenter.sln
/Test_SRSConfFile_Parse_Write/bin
/Test_SRSConfFile_Parse_Write/obj
/SRSConfFile/bin
/SRSConfFile/obj
/SRSWebApi/bin
/SRSWebApi/obj
/OnvifClient/bin
/OnvifClient/obj
/OnvifManager/bin
/OnvifManager/obj
/Test_Onvif_Discovery/bin
/Test_Onvif_Discovery/obj
/.vs
/SRSWebApi/logs
/.idea/.idea.StreamCenter
/.vs/StreamCenter
*/.idea
/OnvifClient/bin/Debug/netstandard2.0
.DS_Store
*/.DS_Store
/SRSWebApi/logs
*.xml
*/*.xml
/SRSManageCommon/obj
/SRSManageCommon/bin
/Test_Onvif_Discovery/obj
/Test_Onvif_Discovery/bin
