<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    
    <!--debug-->
    <appender name="RollingLogFileDebug" type="log4net.Appender.RollingFileAppender">
      <file value="log/" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <!--<datePattern value="yyyyMMdd/'.log'" />-->
      <datePattern value="yyyyMMdd/'debug'yyyyMMdd'.log'" />
      <maxSizeRollBackups value="100" />
      <!--<maximumFileSize value="10KB" />-->
      <maximumFileSize value="50MB" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %message%newline" />
      </layout>
      <!--限制日志等级-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Debug" />
        <param name="LevelMax" value="Debug" />
      </filter>
    </appender>

    <!--info-->
    <appender name="RollingLogFileInfo" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <file value="log/" />
      <!--是否是向文件中追加日志-->
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd/'info'yyyyMMdd'.log'" />
      <!--备份文件的最大个数-->
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %message%newline" />
      </layout>
      <!--限制日志等级-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Info" />
      </filter>
    </appender>

    <!--warn-->
    <appender name="RollingLogFileWarn" type="log4net.Appender.RollingFileAppender">
      <file value="log/" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <!--<datePattern value="yyyyMMdd'.log'" />-->
      <datePattern value="yyyyMMdd/'warn'yyyyMMdd'.log'" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %message%newline" />
      </layout>
      <!--限制日志等级-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Warn" />
        <param name="LevelMax" value="Warn" />
      </filter>
    </appender>

    <!--error-->
    <appender name="RollingLogFileError" type="log4net.Appender.RollingFileAppender">
      <file value="log/" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <!--<datePattern value="yyyyMMdd'.log'" />-->
      <datePattern value="yyyyMMdd/'error'yyyyMMdd'.log'" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %message%newline" />
      </layout>
      <!--限制日志等级-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error" />
        <param name="LevelMax" value="Error" />
      </filter>
    </appender>

    <!--fatal-->
    <appender name="RollingLogFileFatal" type="log4net.Appender.RollingFileAppender">
      <file value="log/" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <!--<datePattern value="yyyyMMdd'.log'" />-->
      <datePattern value="yyyyMMdd/'fatal'yyyyMMdd'.log'" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %message%newline" />
      </layout>
      <!--限制日志等级-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Fatal" />
        <param name="LevelMax" value="Fatal" />
      </filter>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <!--开启需要记录的日志级别-->
      <appender-ref ref="RollingLogFileDebug" />
      <appender-ref ref="RollingLogFileInfo" />
      <appender-ref ref="RollingLogFileWarn" />
      <appender-ref ref="RollingLogFileError" />
      <appender-ref ref="RollingLogFileFatal" />
    </root>

  </log4net>
</configuration>
